<% include header %>
<% include nav %>

<div class="container package-page">
  <div class="row">

    <div class="col-md-8 package-main">
      <div class="page-header">
	<h1><%= pkg.Package %></h1>
      </div>
      <div>
	<h2><%= pkg.Title %></h2>
	<p><%- pkg.Description %></p>
      </div>

      <% if (readme || news) { var active = "active"; %>
        <div id="tabpanel">
	  <ul class="nav nav-tabs" role="tablist">
	    <% if (readme) { %><li role="presentation" class="<%= active %>">
	      <a href="#README" aria-controls="README" role="tab" data-toggle="tab">
		README
	      </a>
	    </li><% active = ""; } %>
	    <% if (news) { %><li role="presentation" class="<%= active %>">
	      <a href="#NEWS" aria-controls="NEWS" role="tab" data-toggle="tab">
		NEWS
	      </a>
	    </li><% active = ""; } %>
	  </ul>
	  <div class="clearfix"></div>

	  <% active = "active"; %>

	  <div class="tab-content">
	    <% if (readme) { %>
	      <div role="tabpanel" class="tab-pane fade in <%= active %>" id="README">
		<div id="readme"><%- readme %></div>
	      </div>
            <% active = ""; } %>
	    <% if (news) { %>
	      <div role="tabpanel" class="tab-pane fade in <%= active %> " id="NEWS">
		<div id="news"><%- news %></div>
	      </div>
	    <% active = ""; } %>
	  </div>
	</div>
      <% } %>
    </div>

    <div class="col-md-4 package-sidebar">
      <div class="install-package">
	<span class="glyphicon glyphicon-download-alt"
	      aria-hidden="true"></span>
	install.packages("<%= pkg.Package %>")
      </div>
      <hr>
      <p><strong><%= pkg.Version %></strong>
	by <strong><a href="/maint/<%= pkg.maintainer_email %>">
	    <%= pkg.Maintainer %></a></strong>, <%= pkg.timeago %></p>
      <hr>

      <% if (pkg.URL) { %><p><strong><%- pkg.URL %></strong></p><hr><% } %>

      <% if (pkg.BugReports) { %>
        <p><strong>Report a bug at</strong> <%- pkg.BugReports %></p><hr>
      <% } %>

      <p><strong>Browse source code at</strong>
	<a href="https://github.com/cran/<%= pkg.Package %>">
	  https://github.com/cran/<%= pkg.Package %>
	</a>
      </p>
      <hr>

      <p><strong>Authors:</strong>
	<%= pkg.Author %>
      </p>
      <hr>
      
      <% if (pkg.License) { %><p><strong><%= pkg.License %></strong>
	license</p><hr><% } %>
      <% if (pkg.Imports) { %>
        <p><strong>Imports</strong> <%- pkg.Imports %></p>
      <% } %>
      <% if (pkg.Depends) { %>
        <p><strong>Depends on</strong> <%- pkg.Depends   %></p>
      <% } %>
      <% if (pkg.Suggests) { %>
        <p><strong>Suggests</strong> <%- pkg.Suggests  %></p>
      <% } %>
      <% if (pkg.Enhances) { %>
        <p><strong>Enhances</strong> <%- pkg.Enhances  %></p>
      <% } %>
      <% if (pkg.LinkingTo) { %>
        <p><strong>Linking to</strong> <%- pkg.LinkingTo %></p>
      <% } %>

      <% if (pkg.Package in revdeps) { %>
        <hr>
        <% var rd = revdeps[pkg.Package]; %>
	<% if ('Imports' in rd) { %>
          <p><strong>Imported by</strong>
	  <%- rd.Imports.map(pkg_link).join(', ') %>.</p>
	<% } %>
	<% if ('Depends' in rd) { %>
          <p><strong>Depended on by</strong>
	  <%- rd.Depends.map(pkg_link).join(', ') %>.</p>
	<% } %>
	<% if ('Suggests' in rd) { %>
          <p><strong>Suggested by</strong>
	  <%- rd.Suggests.map(pkg_link).join(', ') %>.</p>
	<% } %>
	<% if ('Enhances' in rd) { %>
          <p><strong>Enhanced by</strong>
	  <%- rd.Enhances.map(pkg_link).join(', ') %>.</p>
	<% } %>
	<% if ('LinkingTo' in rd) { %>
          <p><strong>Linked to by</strong>
	  <%- rd.LinkingTo.map(pkg_link).join(', ') %>.</p>
	<% } %>

      <% } %>

      <hr>
      <p><a href="http://cran.rstudio.com/web/packages/<%= pkg.Package %>">
         See at CRAN</a></p>

    </div>

  </div>
</div>

<% include links %>
<% include footer %>
