
<% if (typeof npr === "undefined") { npr = 4; } %>
<% if (typeof cw  === "undefined") { cw = "col-sm-3";   } %>

<div class="container">
  <h1 class="page-header text-center"><%= title %></h1>

  <% if (paging) { %>
    <div class="row starting-letters">
      <div class="col-md-12 text-center">
	&middot
	<% for (var i = 65; i <= 90; i++) { %>
	   <% var c = String.fromCharCode(i); %>
	   <a href="/pkglist/<%= c %>"><%= c %></a> &middot;
	   <% } %>
      </div>
    </div>
  <% } %>

  <% var i=1, j=1; for (pkg in pkgs) { %>
    <% if (i == npr) { %> <div class="row"><% } %>
        <div class="<%= cw %> text-center">
	  <h3><a href="/pkg/<%= pkgs[pkg].Package %>">
	      <strong>
		<% if (number) { %><%= j %><% } %>
		<%= pkgs[pkg].Package %>
	      </strong>
	  </a></h3>
          <p>
	    <%= pkgs[pkg].Title %> <br/>
	    <%= pkgs[pkg].Version %>, published <%= pkgs[pkg].timeago %>
	    by <a href="/maint/<%= pkgs[pkg].maintainer_email  %>">
	      <%= pkgs[pkg].Maintainer %>
	    </a>
	  </p>
	</div>
    <% j++; if (i == npr) { %></div><% i=1; } else { i=i+1; } %>
  <% } %>

</div>

<% if (paging) { %>
  <div class="container"
    <div class="row">
      <div class="col-sm-12 text-center">
	<a class="btn btn-default"
	   href="?startkey=<%= pkgs[pkg].Package %>"
	   role="button">Next page</a>
      </div>
    </div>
  </div>
<% } %>
