<div class="package">
  <p>
    <span class="packagetitle">
      <a href="/pkg/<%= pkg.Package %>"><%= pkg.Package %></a>
    </span>
    <span class="packageauthor">
      &mdash; by <a href="/maint/<%= pkg.maintainer_email %>"><%= pkg.Maintainer %></a>,
      <%= pkg.timeago %>
    </span>
  </p>
  <div class="packagedesc">
    <p class="alphatitle"><%= pkg.Title %></p>
    <p class="description"><%- pkg.Description %></p>
  </div>
  <div class="packageurl"><%- pkg.URL %></div>
</div>
