<!---- -*- mode: html -*-  --->

<% include header %>
<% include nav %>

<div class="container wide-container task-view-page">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Task view: <%= task_view.topic %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 task-view-left">
      <p class="note">
	Last updated on <%= task_view.version %>
	by <%= task_view.maintainer %>
      </p>
      <p><%- task_view.info %></p>
      <h2 class="page-header">Links</h2>
      <p>
	<ul>
	  <% for (l in task_view.links) { %>
	    <% var link = task_view.links[l]; %>
	    <li><%- link %>
	  <% } %>
	</ul>
      </p>
    </div>
    <div class="col-md-6">
      <h2 style="padding-left:17px;">Packages</h2>
      <p>
	<%- include('pkglist_result', { 'pkgs': pkgs,
	    'npr': 2,
	    'cw': 'col-sm-6' }); %>
      </p>
    </div>
  </div>

  <hr>
  <div class="container wide-container"><div class="col-xs-12">
    <p><a class="btn btn-default" href="/ctv" role="button">
	<span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
	Task view list
    </a></p>
  </div></div>

</div>
  
<% include links %>
<% include footer %>
