<!---- -*- mode: html -*-  --->

<% include header %>
<% include nav %>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header text-center">CRAN Task Views</h1>
    </div>
  </div>
</div>

<div class="container task-view-list">

  <% for (var i in task_views) { %>
  <div class="task-item">
    <div class="task-item-inner">
      <a href="/ctv/<%= task_views[i].name%>">
	<img src="/img/<%= task_views[i].name %>-small.jpg" alt=""
	     class="task-view-image">
      </a>
      <p class="task-view-title">
	<a href="/ctv/<%= task_views[i].name%>">
	  <strong><%= task_views[i].topic %></strong>
	</a>
      </p>
      <p class="task-view-title-author">
	<i class="fa fa-user"></i> <%= task_views[i].maintainer %>
      </p>
      <p class="task-view-title-time">
	<i class="fa fa-clock-o"></i> <%= task_views[i].version %>
      </p>
    </div>
  </div>

  <% } %>

</div>

<% include links %>
<% include footer %>
